recommender/neo4j-home
recommender/*~
recommender/\#*
recommender/target
recommender/out
recommender/.project
recommender/.classpath
recommender/.settings
recommender/.externalToolBuilders/
recommender/.scala_dependencies
recommender/.factorypath
recommender/.cache
recommender/.cache-main
recommender/.cache-tests
recommender/*.iws
recommender/*.ipr
recommender/*.iml
recommender/.idea
recommender/.shell_history
recommender/.mailmap
recommender/.java-version
recommender/.cache-main
recommender/.cache-tests
recommender/Thumbs.db
recommender/.cache-main
recommender/.cache-tests
recommender/logs
.DS_Store
dados/*.json
dados/*.gz
